---
import { proyects } from "../data/proyect.js";
import ProyectCard from "../components/ProyectCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="max-w-6xl mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold mb-6 text-white">Proyectos</h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        proyects.map((proyect) => (
          <ProyectCard
            title={proyect.title}
            description={proyect.description}
            image={proyect.image}
            email={proyect.email}
            link={proyect.link}
          />
        ))
      }
    </div>
  </div>
</Layout>
